a {
    text-decoration: none;
}

ul, ol {
    margin: 0px;
	padding: 0px;
	list-style: none;
}

option {
    font-size: 16px;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    line-height: 1.5;
    padding: 10px 0;
}

.form-select {
    width: 30%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
}

.form-control {
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    width:100%;
}

.logo a{
    color: black;
    font-size: 22px;
    line-height:40px;
    font-weight: bold;
    text-decoration: underline;
}

.menu {
    text-align: center;
}

.menu a{
    color: #B9B9B9;
    font-size: 14px;
    line-height:40px;
    margin: 10px;
}

.menu a:hover {
    color: black;
}

.login-button {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: #363D38;
    color: white;
}

.button.green {
    font-size: 14px;
    padding: 10px 15px;
    background-color: white;
    color:#363D38;
    border: 1.5px solid #00AAA9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.link-button {
    color:#00AAA9;
}

.nav-wrap {
    padding: 20px 30px;
}

.nav-items {
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 0px 20px;
}

.container {
    border-top: 1px solid lightgray;
    margin: 0px 30px;
}


.post-list-container{
    margin: 0px auto;
    padding-top: 60px;
}

.post-list-container h2{
    margin-top: 30px;
    margin-left: 150px;
}

.post-list-wrap {
    display: flex;
    justify-content: center;
}

.post-list {
    width: 80%;
}

.post-list a {
    color: black;
}

.post-list-container th{
    padding: 6px;
    border-bottom: 1px solid dimgray;
}


.post-list-container table{
    border-collapse: collapse;
}

.post-list-container td{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.post-list .col1 {
    width: 25%;
    text-align: center;
}

.post-list .col2 {
    width: 50%;
}

.post-list .col3 {
    width: 25%;
    text-align: center;
}

.post-list-header {
    margin: 20px 120px 20px 0px;
    display: flex;
    justify-content: flex-end;
}

.post-detail {
    width: 60%;
    margin: 60px auto;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.post-detail-footer {
    display: flex;
    justify-content: flex-end;
}

.post-detail-footer a{
    margin-left: 20px;
}

.login-wrap{
    width:fit-content;
    margin: 80px auto;
}

.login-wrap input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid grey;
    appearance: none;

}

.login-wrap button{
    margin: 30px 50px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    background-color: #363D38; 
    color: white;
    border: none;
}

section {
	padding: 30px;
	background-color: #fff;
	margin: 50px auto;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.card-narrow {
    width: 340px;
}

.card-wide {
    width: 640px;
}

section nav.profile-menu {
	width: 100%;
}
section nav.profile-menu::after {
	content: "";
	display: block;
	clear: both;
}
section nav.profile-menu a {
	font-size: 20px;
	color: #666;
}
section nav.profile-menu a:nth-of-type(1) {
	float: left;
}
section nav.profile-menu a:nth-of-type(2) {
	float: right;
}


section article.profile {
	width: 100%;
	text-align: center;
}
section article.profile img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
    box-shadow: 5px 15px 20px rgba(191, 184, 184, 0.7);
}

section article.profile h1 {
	font-weight: bold;
	font-size: 22px;
	line-height: 1;
	color: #555;
	margin-bottom: 5px;
}
section article.profile h2 {
	font-weight: normal;
	font-size: 12px;
	color: #bbb;
	margin-bottom: 30px;
}
section a.btnView {
	display: block;
	width: 180px;
	height: 32px;
	margin: 0px auto 20px;
	background-color:#444;
	border-radius: 16px;
	font-weight: bold;
	font-size: 10px;
	color: #fff;
	line-height: 32px;
	text-align: center;
}

section ul.contact {
	margin-bottom: 25px; 
}
section ul.contact li {
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #eee;
}
section ul.contact li:last-child {
	border-bottom: none;
}
section ul.contact li i {
	width: 20%;
	text-align: center;
	color: #555;
	font-size: 15px;
	text-shadow: 2px 2px 2px #ddd;
}
section ul.contact li span {
	font-weight: normal;
	font-size: 12px;
	color: #555;
	letter-spacing: 1px;
}

section .tech-stacks {
    margin: 60px auto;
    display: flex;
    flex-wrap:wrap;
    width: 450px;
    align-self: center;
    justify-content: center;
}

.card-wide h3{
    font-size: 22px;
    margin: 10px 30px 10px 30px;
    color: #555;
}

.tech-stacks img{
    margin: 10px;
    width: 40px;
}

.tech-stacks img:last-of-type{
    width: 30px;
}

.tech-stacks p{
    margin: 10px 5px;
    font-size: 12px;
    color: #555;
    line-height: 40px;
}

.github {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.github a {
    color: #555;
    font-size: 14px;
}

.github i{
    margin: 0px 15px;
	text-align: center;
	color: #555;
	font-size: 20px;
	text-shadow: 2px 2px 2px #ddd;
}
.pagination-wrap {
    margin-top: 60px;
}

.pagination {
    display:flex;
    justify-content: center;
    padding-left:0;
    list-style:none;
}

.page-link{
    position:relative;
    display:block;
    color:dimgray;
    text-decoration:none;
    background-color:#fff;
    border:1px solid #dee2e6;
}

.page-link:hover{
    z-index:2;
    color:black;
    background-color:#e9ecef;
    border-color:#dee2e6
}
.page-link:focus{
    z-index:3;
    color:black;
    background-color:#e9ecef;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}
.page-item:not(:first-child).page-link{
    margin-left:-1px
}
.page-item.active .page-link{
    z-index:3;
    color:#fff;
    background-color:#474a4d;
    border-color:black;
}
.page-item.disabled .page-link{
    color:#6c757d;
    pointer-events:none;
    background-color:#fff;
    border-color:#dee2e6
}
.page-link{
    padding:.375rem .75rem
}
.page-item:first-child .page-link{
    border-top-left-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.page-item:last-child .page-link{
    border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem
}

.post-form {
    width: 60%;
    margin: 30px auto;
    padding-top: 30px;
}

.label-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.alert{
    position:relative;
    padding:1rem 1rem;
    margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem
}

.alert-danger{
    color:#842029;
    background-color:#f8d7da;
    border-color:#f5c2c7
}