{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="post-form">
        <h2>New Post</h2>
        <form method="post">
            {% csrf_token %}
            <!-- 오류표시 Start -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <div>
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- 오류표시 End -->
            {% if category_list %}
            <div>
                <label for="sel-category" class="form-label">Select category (select one):</label>
                <select class="form-select" id="sel-category" name="category">
                    {% for category in category_list %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="label-box">
                <label for="topic">Topic</label>
                <input type="text" class="form-control" id="topic" name="topic"
                    value="{{ form.topic.value|default_if_none:'' }}">
            </div>
            <div class="label-box">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title"
                    value="{{ form.title.value|default_if_none:'' }}">
            </div>
            <div class="label-box">
                <label for="contents">Contents</label>
                <textarea class="form-control" rows="10" id="contents"
                    name="contents">{{ form.contents.value|default_if_none:'' }}</textarea>
            </div>
            <button type="submit" class="button green" onclick="submitPost(event)">Post</button>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function submitPost(e) {
        if (!confirm('Are you sure?')) {
            e.preventDefault();
        }
        else {
            alert('Submitted');
        }
    }
</script>
{% endblock %}